server:
  port: 8082
  
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://127.0.0.1:8081/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5

spring:
  application:
    name: GLARIMY-ADD-SERVICE